<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="{{site.baseurl}}/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      <span id="date">{{ page.date | date_to_string }}</span>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  
  <section class="comments">
    {% if page.comments %}
      {% include comments.ext %}
    {% endif %}
  </section>
      
  <div class="colophon">
    <p align="center">
      歪歪的个人BLOG<span class="separator">&bull;</span>
      <span id="social">联系我<a href="/about.html">留言</a>!</span>
    </p>
  </div>
</div>
